/*
 * Section with a full-bleed background image for content areas.
 */
.section {
  color: var(--text-color, #ffffff);
  background-color: var(--fallback-color, #333333);
  background-image: var(--image-path, url("/lsst-stills-0014.jpg"));
  background-size: cover;

  /* Full-width in a constrained parent
   * https://css-tricks.com/full-width-containers-limited-width-parents/ */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 0;
}
