.header .subtitle {
  font-size: 1.2rem;
  color: var(--rsd-component-text-color);
  text-transform: uppercase;
  font-weight: bold;
}

.commitSpan {
  display: inline-block;
}

.commitIcon {
  margin-right: 0.2rem;
}

.itemList {
  list-style: none;
  margin: 1rem 0 1rem;
  padding-left: 0;
}
