.header {
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: var(--rsd-component-header-background-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}
