html {
  box-sizing: border-box;
}

/*
 * Inherit border-box sizing from html
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Disable artificial scaling, but let user zoom if needed.
 * Flexible Typesetting, Tim Brown, ch 2.
 */
@viewport {
  width: device-width;
}

:root {
  /*
   * Reinforce that we're respecting the user's ability to set a default
   * font size. The rem unit now becomes relative to this.
   * Flexible Typesetting, Tim Brown, ch 2 and 4
   */
  font-size: 1.1rem;

  --rsd-component-image-invert: 0;
  --size-screen-padding-min: 1rem;

  /* Colors */
  --sqo-doc-card-background-color: var(--rsd-color-gray-000);
  --sqo-primary-button-background-color: var(--rsd-color-primary-600);
  --sqo-primary-button-background-color-hover: var(--rsd-color-primary-400);
  --sqo-primary-button-background-color-active: var(--rsd-color-primary-300);
  --sqo-primary-button-text-color: var(--rsd-component-text-reverse-color);

  /*
   * Elevations
   *
   * Are box-shadow properties.
   *
   * We're using the Tailwind CSS box shadows here:
   * https://tailwindcss.com/docs/box-shadow/
   */
  --sqo-elevation-0: none;
  --sqo-elevation-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --sqo-elevation-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --sqo-elevation-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --sqo-elevation-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --sqo-elevation-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --sqo-elevation-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --sqo-elevation-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --sqo-elevation-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --sqo-elevation-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);

  /*
   * Border radius
   */
  --sqo-border-radius-0: 0px;
  --sqo-border-radius-1: 4px;
  --sqo-border-radius-2: 7px;

  /*
   * Spacing values in em units
   */
  --sqo-space-unit: 1em;
  --sqo-space-xxxs: calc(0.25 * var(--sqo-space-unit));
  --sqo-space-xxs: calc(0.375 * var(--sqo-space-unit));
  --sqo-space-xs: calc(0.5 * var(--sqo-space-unit));
  --sqo-space-sm: calc(0.75 * var(--sqo-space-unit));
  --sqo-space-md: calc(1.25 * var(--sqo-space-unit));
  --sqo-space-lg: calc(2 * var(--sqo-space-unit));
  --sqo-space-xl: calc(3.25 * var(--sqo-space-unit));
  --sqo-space-xxl: calc(5.25 * var(--sqo-space-unit));
  --sqo-space-xxxl: calc(8.5 * var(--sqo-space-unit));

  /*
   * Fixed spacing
   * These aren't affected by --space-unit or the root font size
   */
  --sqo-space-unit-fixed: 1rem;
  --sqo-space-xxxs-fixed: calc(0.25 * var(--sqo-space-unit-fixed));
  --sqo-space-xxs-fixed: calc(0.375 * var(--sqo-space-unit-fixed));
  --sqo-space-xs-fixed: calc(0.5 * var(--sqo-space-unit-fixed));
  --sqo-space-sm-fixed: calc(0.75 * var(--sqo-space-unit-fixed));
  --sqo-space-md-fixed: calc(1.25 * var(--sqo-space-unit-fixed));
  --sqo-space-lg-fixed: calc(2 * var(--sqo-space-unit-fixed));
  --sqo-space-xl-fixed: calc(3.25 * var(--sqo-space-unit-fixed));
  --sqo-space-xxl-fixed: calc(5.25 * var(--sqo-space-unit-fixed));
  --sqo-space-xxxl-fixed: calc(8.5 * var(--sqo-space-unit-fixed));

  /* Transitions */
  --sqo-transition-basic: 0.3s ease all;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  line-height: 1.4;
  color: var(--rsd-component-text-color);
  background-color: var(--rsd-component-page-background-color);
}

h1,
h2 {
  color: var(--rsd-component-text-headline-color);
}

a {
  color: var(--rsd-component-text-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--rsd-component-text-link-hover-color);
}

/*
 * Images that can be inverted to accommodate dark themes.
 */
img.u-invertable-image {
  filter: invert(var(--rsd-component-image-invert));
}

/*
 * Design token overrides for dark theme.
 */
[data-theme='dark'] body {
  --rsd-component-image-invert: 100%;
  --sqo-doc-card-background-color: var(--rsd-color-primary-800);
}
