/* Base pill container styles */
.pill {
  display: inline-block;
  padding: var(--sqo-space-xxxs) var(--sqo-space-unit);
  border: 1px solid transparent;
  border-radius: var(--sqo-border-radius-2);
  font-size: 0.9rem;
  font-weight: 700;
  transition: var(--sqo-transition-basic);
  box-shadow: var(--sqo-elevation-sm);
  color: var(--icon-pill-text-color, #ffffff);
  background-color: var(
    --icon-pill-bg-color,
    var(--sqo-primary-button-background-color)
  );
}

.pill:hover {
  background-color: var(
    --icon-pill-hover-bg-color,
    var(--sqo-primary-button-background-color-hover)
  );
  box-shadow: var(--sqo-elevation-lg);
}

/* Link styles within the pill */
.link {
  text-decoration: none;
  color: inherit;
}

/* Icon styles */
.icon {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: text-bottom;
}
