.header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.header p,
.header h2 {
  margin: 0;
}

.header h2 {
  line-height: 1.2;
  font-size: 1.1rem;
}

.subtitle {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hiddenLink {
  color: inherit;
  text-decoration: none;
}

.hiddenLink:hover {
  color: inherit;
  text-decoration: underline;
}

.icon {
  margin-right: 0.2em;
}
