.hiddenLink {
  color: inherit;
  text-decoration: none;
}

.hiddenLink:hover {
  text-decoration: underline;
}

.statusIconLink {
  padding: 2px 10px;
  color: #fff;
  background-color: var(--status-color);
  border-radius: 0.5em;
  text-transform: capitalize;
}

.statusIconLink:hover {
  color: #fff;
}

.avatarImage {
  height: 1.3em;
  width: 1.3em;
  margin: 0 0.1em 0 0.1em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.authorSpan {
  display: inline-block;
}

.icon {
  margin-right: 0.2em;
  font-size: 0.9em;
}
