html {
  box-sizing: border-box;
}

/*
 * Inherit border-box sizing from html
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Disable artifical scaling, but let user zoom if needed.
 * Flexible Typesetting, Tim Brown, ch 2.
 */
@viewport {
  width: device-width;
}

:root {
  /*
   * Reinforce that we're respecting the user's ability to set a default
   * font size. The rem unit now becomes relative to this.
   * Flexible Typesetting, Tim Brown, ch 2 and 4
   */
  font-size: 1.1rem;

  /*
   * Semantic and component colors
   */
  --rsd-component-page-background-color: var(--rsd-color-gray-000);
  --rsd-component-footer-background-color: var(--rsd-color-primary-100);
  --rsd-component-text-reverse-color: var(--rsd-color-gray-100);
  --rsd-component-link-reverse-color: var(--rsd-color-blue-500);
  --rsd-component-image-invert: 0;

  --c-headline: var(--rsd-color-primary-600);
  --c-reverse-text: var(--rsd-color-gray-000);
  /*
  * darker than blue-500
  */
  --c-link: #146685;

  --size-screen-padding-min: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: var(--rsd-component-text-color);
  background-color: var(--rsd-component-page-background-color);
}

h1,
h2 {
  color: var(--c-headline);
}

a {
  color: var(--c-link);
  text-decoration: none;
}

a:hover {
  color: var(--rsd-color-blue-500);
}

/*
 * Images that can be inverted to accomodate dark themes.
 */
img.u-invertable-image {
  filter: invert(var(--rsd-component-image-invert));
}

/*
 * Design token overrides for dark theme.
 */
[data-theme='dark'] body {
  --rsd-component-text-color: var(--rsd-component-text-reverse-color);
  --rsd-component-page-background-color: var(--rsd-color-gray-900);
  --rsd-component-footer-background-color: var(--rsd-color-primary-700);
  --rsd-component-image-invert: 100%;
}

[data-theme='dark'] a {
  color: var(--rsd-component-link-reverse-color);
}
