html {
  box-sizing: border-box;
}

/*
 * Inherit border-box sizing from html
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Disable artificial scaling, but let user zoom if needed.
 * Flexible Typesetting, Tim Brown, ch 2.
 */
@viewport {
  width: device-width;
}

:root {
  /*
   * Reinforce that we're respecting the user's ability to set a default
   * font size. The rem unit now becomes relative to this.
   * Flexible Typesetting, Tim Brown, ch 2 and 4
   */
  font-size: 1.1rem;

  --rsd-component-image-invert: 0;
  --size-screen-padding-min: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: var(--rsd-component-text-color);
  background-color: var(--rsd-component-page-background-color);
}

h1,
h2 {
  color: var(--rsd-component-text-headline-color);
}

a {
  color: var(--rsd-component-text-link-color);
  text-decoration: none;
}

a:hover {
  color: var(--rsd-component-text-link-hover-color);
}

/*
 * Images that can be inverted to accommodate dark themes.
 */
img.u-invertable-image {
  filter: invert(var(--rsd-component-image-invert));
}

/*
 * Design token overrides for dark theme.
 */
[data-theme='dark'] body {
  --rsd-component-image-invert: 100%;
}
