.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  min-height: var(--row-height);
  color: inherit;
  font-weight: normal;
}

.wrapperCurrent {
  font-weight: bold;
}

.icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  opacity: 0.9;
}
