name: Build Squareone Docker Image

on:
  workflow_call:
    inputs:
      tag:
        description: 'Tag for image (optional). If not set, tag will be derived from git branch.'
        required: false
        type: string
    secrets:
      GHCR_PUSH_TOKEN:
        required: true
      SENTRY_AUTH_TOKEN:
        required: true
      TURBO_TOKEN:
        required: true

jobs:
  build:
    uses: lsst-sqre/multiplatform-build-and-push/.github/workflows/build.yaml@v1
    with:
      images: ghcr.io/${{ github.repository }}
      dockerfile: apps/squareone/Dockerfile
      tag: ${{ inputs.tag }}
    secrets:
      GHCR_PUSH_TOKEN: ${{ secrets.GHCR_PUSH_TOKEN }}
      IMAGE_SECRETS: |
        SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
        TURBO_TOKEN=${{ secrets.TURBO_TOKEN }}
        TURBO_API=${{ vars.TURBO_API }}
        TURBO_TEAM=${{ vars.TURBO_TEAM }}
