name: 'Chromatic: Squared'

'on':
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'renovate/**'
    tags-ignore:
      - '*'

permissions:
  contents: read # Required by called workflow

jobs:
  call:
    if: false
    uses: ./.github/workflows/run-chromatic.yaml
    with:
      path: packages/squared
      workspaceFilter: '@lsst-sqre/squared'
    secrets:
      token: ${{ secrets.SQUARED_CHROMATIC_TOKEN }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
