name: 'Chromatic: Squareone'

'on':
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'renovate/**'
    tags-ignore:
      - '*'

permissions:
  contents: read # Required by called workflow

jobs:
  call:
    if: false
    uses: ./.github/workflows/run-chromatic.yaml
    with:
      path: apps/squareone
      workspaceFilter: squareone
    secrets:
      token: ${{ secrets.SQUAREONE_CHROMATIC_TOKEN }}
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
