name: CI

'on':
  push:
    branches-ignore:
      # These should always correspond to pull requests, so ignore them for
      # the push trigger and let them be triggered by the pull_request
      # trigger, avoiding running the workflow twice.  This is a minor
      # optimization so there's no need to ensure this is comprehensive.
      - 'dependabot/**'
      - 'renovate/**'
      - 'tickets/**'
      - 'u/**'
      - 'changeset-release/**'
  pull_request: {}

jobs:
  changes:
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: actions/checkout@v5

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'

  test:
    runs-on: ubuntu-latest
    container:
      # https://playwright.dev/docs/docker#pull-the-image
      image: mcr.microsoft.com/playwright:v1.55.0-noble
      options: --user 1001

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2 # partial depth for Turbo Repo

      - uses: pnpm/action-setup@v4

      - name: Set up node
        uses: actions/setup-node@v5
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Install npm packages
        run: pnpm install --frozen-lockfile

      - name: Check formatting
        run: pnpm run format:check

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build

      - name: Test
        run: pnpm run test
        env:
          # Ensure any environment variables are configured in turbo.json
          # to pass-through
          CI: true
          # Use browsers from Playwright container
          PLAYWRIGHT_BROWSERS_PATH: /ms-playwright
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1

  build-squareone:
    uses: ./.github/workflows/build-squareone.yaml
    needs:
      - test
    secrets:
      GHCR_PUSH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
    # Only do Docker builds of tagged releases and pull requests from ticket
    # branches. This will still trigger on pull requests from untrusted
    # repositories whose branch names match our tickets/* branch convention,
    # but in this case the build will fail with an error since the secret
    # won't be set.
    if: >
      github.event_name != 'merge_group' && (startsWith(github.ref, 'refs/tags/') || startsWith(github.head_ref, 'tickets/') )


  docs:
    needs: [changes]
    if: ${{ needs.changes.outputs.docs == 'true' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # full depth for sitemap timestamps
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.13'

      - name: Build documentation
        run: uv run noxfile.py -s docs

      - name: Upload documentation
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: 'squareone'
          dir: 'docs/_build/html'
          username: ${{ secrets.LTD_USERNAME }}
          password: ${{ secrets.LTD_PASSWORD }}
