name: Docker release

'on':
  release:
    types: [published]

jobs:
  get-squareone-version:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/squareone')
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Get version
        id: version
        run: |
          echo "version=$(node -e "console.log(require('./apps/squareone/package.json').version);")" >> "$GITHUB_OUTPUT"

  release-squareone:
    uses: ./.github/workflows/build-squareone.yaml
    needs: [get-squareone-version]
    if: startsWith(github.ref, 'refs/tags/squareone')
    with:
      tag: ${{ needs.get-squareone-version.outputs.version }}
    secrets:
      GHCR_PUSH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
