name: Docker release

'on':
  release:
    types: [published]

jobs:
  release-squareone:
    timeout-minutes: 25
    name: Release Squareone image
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/squareone')

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Get version
        id: version
        run: |
          echo "version=$(node -e "console.log(require('./apps/squareone/package.json').version);")" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: '.'
          file: 'apps/squareone/Dockerfile'
          push: true
          tags: |
            ghcr.io/lsst-sqre/squareone:${{ env.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          secrets: |
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
